/******************
**********************
Airport/Place Sections
**********************
******************/
#fixed-divider {
  position: fixed;
  top: 0;
  left: 50%;
  height: 100%;
  width: 1px;
  margin-left: -0.5px;
  background: #b3b3b3; }

#airports-section {
  width: 50%;
  float: left; }

#airports-section .place-type-divider {
  font-family: 'Open Sans';
  font-size: 16px;
  padding-left: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b3b3b3; }

#airports-section .button-container {
  padding: 30px; }

#airports-section .button-container .theme-button {
  width: 100%;
  text-align: center;
  background: #00adf1;
  color: white; }

#place-section {
  width: 50%;
  float: left; }

#place-section .interior-container {
  padding: 0; }

/******************
**********************
Airport Places
**********************
******************/
#place-sort {
  background: #f2f2f2;
  padding: 15px;
  margin-bottom: 25px;
  text-align: center; }

#place-sort h3 {
  color: black;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase; }

#place-sort .sort-options {
  overflow: hidden;
  border: 1px solid #d9d9d9;
  display: inline-block;
  border-radius: 2px; }

#place-sort .sort-options .option {
  overflow: hidden;
  position: relative;
  float: left;
  background: white;
  padding: 12px 20px 11px 20px;
  border-right: 1px solid #d9d9d9;
  cursor: pointer;
  box-sizing: border-box; }

#place-sort .sort-options .option span {
  font-family: 'Cabin';
  font-size: 14px;
  letter-spacing: 0.5px;
  position: relative;
  z-index: 5; }

#place-sort .sort-options .option:last-of-type {
  border: none; }

#place-sort .sort-options .option.active {
  background: rgba(0, 173, 241, 0.3);
  border: 1px solid #00adf1;
  color: #0080b3; }

.place-link {
  display: block;
  margin: 0;
  border-bottom: 1px solid #b3b3b3; }

.place-link .top {
  overflow: hidden;
  margin-bottom: 5px;
  padding: 25px 15px 0 15px; }

.place-link .top .pic {
  height: 120px;
  width: 150px;
  position: relative;
  float: left;
  border-top: 1px dashed black; }

.place-link .top .pic::after {
  content: '';
  position: absolute;
  right: -23px;
  top: -2px;
  height: 100%;
  width: 1px;
  border-left: 1px dashed black;
  transform: rotate(-20deg); }

.place-link .top .pic img {
  position: absolute;
  max-height: 90%;
  max-width: 90%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); }

.place-link .top .title-info {
  display: table-cell;
  padding-left: 50px; }

.place-link .top .title-info h2 {
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 0.5px;
  transform: scale(1, 1.1);
  margin-bottom: 10px;
  line-height: 35px; }

.place-link .top .title-info p {
  color: #333333;
  font-size: 16px;
  font-family: 'Open Sans';
  padding-left: 2px; }

.place-link .bottom {
  overflow: hidden;
  padding: 15px 0 25px 0; }

.place-link .bottom .info-block-container .info-block {
  float: left; }

.place-link .bottom .info-block-container .info-block span {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 0 5px 0px;
  margin: 0 0 5px 45px;
  display: block;
  border-bottom: 2px dashed black;
  color: black; }

.place-link .bottom .info-block-container .info-block div {
  padding: 5px 45px;
  background: #00adf1;
  font-family: 'Cabin';
  font-weight: 700;
  color: white;
  font-size: 36px;
  position: relative; }

.place-link .bottom .info-block-container .info-block div::after {
  content: '';
  position: absolute;
  right: -14px;
  top: -5px;
  height: 130%;
  width: 1px;
  border-left: 2px dashed black;
  transform: rotate(-20deg);
  z-index: 5; }

.place-link .bottom .info-block-container .info-block div.last-block::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  right: -99px;
  background: #00adf1;
  clip-path: polygon(0 0, 47% 0, 68% 100%, 0% 100%); }

/******************
**********************
Place Show Page
**********************
******************/
#place-content {
  position: fixed;
  top: 0px;
  right: 0;
  width: 50%;
  height: 100%;
  overflow-y: auto; }

#place-content .place-header {
  height: 250px;
  width: 100%;
  position: relative;
  background-size: cover !important; }

#place-content .place-header::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5); }

#place-content .place-header .content {
  position: relative;
  z-index: 15;
  padding: 15px; }

#place-content .place-header .content h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px; }

#place-content .place-header .content p {
  color: white; }

#place-content .place-header .bottom {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1; }

#place-content .place-header .bottom span {
  color: white;
  font-size: 32px; }

#place-content .place-header .bottom .price {
  color: #00adf1;
  position: relative;
  margin-left: 30px; }

#place-content .place-header .bottom .price::before {
  content: '';
  width: 2px;
  height: 20px;
  background: white;
  position: absolute;
  left: -15px;
  top: 50%;
  margin-top: -10px; }

#place-content .place-info {
  padding: 15px; }

#place-content .place-info .info-div {
  margin-bottom: 20px; }

#place-content .place-info .info-div span {
  font-family: 'Open Sans';
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
  font-size: 12px; }

#place-content .place-info .info-div p {
  font-family: 'Cabin';
  font-size: 16px; }

@media all and (max-width: 1200px) {
  #fixed-divider {
    display: none; }
  #airports-section {
    width: 100%;
    float: none; }
  #place-section {
    width: 100%;
    float: none; }
  #place-section .interior-container {
    padding-top: 60px; }
  #place-content {
    position: static;
    top: auto;
    right: auto;
    width: 100%;
    height: auto;
    overflow: visible; } }

@media all and (max-width: 550px) {
  .place-link .top .pic {
    height: 80px;
    width: 110px; }
  .place-link .top .pic::after {
    right: -16px; }
  .place-link .top .title-info {
    padding-left: 35px; }
  .place-link .top .title-info h2 {
    font-size: 22px;
    line-height: 24px; }
  .place-link .top .title-info p {
    font-size: 12px; }
  .place-link .bottom .info-block-container .info-block span {
    font-size: 12px;
    margin-left: 25px; }
  .place-link .bottom .info-block-container .info-block div {
    padding: 5px 25px;
    font-size: 22px; }
  .place-link .bottom .info-block-container .info-block div::after {
    right: -11px;
    top: -5px; }
  .place-link .bottom .info-block-container .info-block div.last-block::before {
    width: 80px;
    right: -79px;
    clip-path: polygon(0 0, 47% 0, 68% 100%, 0% 100%); } }
