$light-blue: #00adf1;
$gray: #8c8c8c;
$error-red: #ff401a;
/******************
**********************
Hero
**********************
******************/

#home-hero {
	& { height:600px;height:100vh;background: url('../images/home-hero-bckg-2.jpg') no-repeat;background-position:25% 50%;position:relative; }
	&::after { content:'';position:absolute;top:0;left:0;height:100%;width:100%;background:black;opacity:0.3; }
	.hero-content {
		& { position:absolute;top:50%;width:100%;left:0;transform:translateY(-50%);z-index:5;text-align:center; }
		h2 { font-size:48px;letter-spacing:30px; margin-bottom:30px;color:white;opacity:1; }
		p { margin-bottom:30px;font-size:18px;color:white;font-style:italic;opacity:0.8;letter-spacing:1px; }
		.search-bar {
			& { position:relative; }
			.input-submit-combine {
				& { overflow:hidden;max-width:1000px;margin:0 auto; }
				input { float:left;box-sizing:border-box; }
				input[type="text"] { width:70%;font-size:16px;border-radius:2.5px 0 0 2.5px; }
				input[type="submit"] { width:30%;border-radius:0 2.5px 2.5px 0;font-size:16px;border-left:none;background:$light-blue;color:white; }
			}
			.search-results {
				& { display:none;position:absolute;width:100%;max-width:1000px;max-height:200px;top:100%;left:50%;transform:translateX(-50%);box-sizing:border-box;background:white;border-radius:0 0 2.5px 2.5px;box-shadow:0 5px 5px rgba(0, 0, 0, 0.5);overflow-y:auto; }
				.result {
					& { height:50px;line-height:50px;color:black;text-align:left;display:block;padding:0 15px; }
					&:hover { background:$light-blue;color:white; }
				}
				.result.error {
					& { color:$error-red;font-style:italic; }
					&:hover { background:transparent;color:$error-red; }
				}
			}
		}
	}
}

/******************
**********************
Local Airports
**********************
******************/

#local-airports {
	& { padding:30px 0;text-align:center; }
}

/******************
**********************
Trending
**********************
******************/

#home-trending {
	& { padding:30px 0;text-align:center; }
}