$light-blue: #00adf1;
$gray: #8c8c8c;
$error-red: #ff401a;
/******************
**********************
Form
**********************
******************/

.write-review-button {
	& { background:#f2f2f2;padding:15px;text-align:center;cursor:pointer; }
	h3 { margin:0;font-weight:400;letter-spacing:2px;color:black;font-size:16px; }
}

#review-form {
	& { border-bottom:1px solid $gray;height:0;transition:height 200ms ease-out;overflow:hidden;box-sizing:border-box; }
	.form-input {
		& { padding:0 25px;margin-bottom:20px; }
		&:first-of-type { margin-top:20px; }
	}
	input:not([type="submit"]) { height:35px;border:1px solid $gray;width:100%; }
	input[type="number"] { width:150px; }
	textarea { min-height:150px;border:1px solid $gray;width:100%;resize:vertical-only; }
	input[type="text"]:not([type="submit"]), textarea { transition:all 150ms ease-out;box-sizing:border-box;letter-spacing:0.75px; }
	input[type="text"]:not([type="submit"]):focus, textarea:focus { border:1px solid $light-blue; }
	.theme-button { width:100%; }
}