/******************
**********************
Form
**********************
******************/
.write-review-button {
  background: #f2f2f2;
  padding: 15px;
  text-align: center;
  cursor: pointer; }

.write-review-button h3 {
  margin: 0;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;
  font-size: 16px; }

#review-form {
  border-bottom: 1px solid #8c8c8c;
  height: 0;
  transition: height 200ms ease-out;
  overflow: hidden;
  box-sizing: border-box; }

#review-form .form-input {
  padding: 0 25px;
  margin-bottom: 20px; }

#review-form .form-input:first-of-type {
  margin-top: 20px; }

#review-form input:not([type="submit"]) {
  height: 35px;
  border: 1px solid #8c8c8c;
  width: 100%; }

#review-form input[type="number"] {
  width: 150px; }

#review-form textarea {
  min-height: 150px;
  border: 1px solid #8c8c8c;
  width: 100%;
  resize: vertical-only; }

#review-form input[type="text"]:not([type="submit"]), #review-form textarea {
  transition: all 150ms ease-out;
  box-sizing: border-box;
  letter-spacing: 0.75px; }

#review-form input[type="text"]:not([type="submit"]):focus, #review-form textarea:focus {
  border: 1px solid #00adf1; }

#review-form .theme-button {
  width: 100%; }
