/* base styling */
body {
  margin: 0;
  padding: 0; }

h2, h3, h4, h5 {
  font-family: 'Open Sans';
  margin: 0 0 20px 0;
  font-weight: 400;
  letter-spacing: 1px;
  color: #8c8c8c; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4, h5 {
  font-weight: 700;
  font-size: 22px; }

h5 {
  font-size: 18px; }

p, span, a {
  margin: 0;
  font-family: 'Cabin';
  letter-spacing: 0.5px;
  font-weight: 400; }

a {
  text-decoration: none; }

input:not([type="submit"]) {
  height: 45px;
  font-family: 'Cabin';
  font-size: 14px;
  outline: none;
  border: none;
  padding-left: 15px;
  box-sizing: border-box; }

textarea {
  font-family: 'Cabin';
  font-size: 14px;
  outline: none;
  border: none;
  padding: 15px;
  box-sizing: border-box; }

/* custom buttons/icons */
.theme-button {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #00adf1;
  border-radius: 2px;
  background: transparent;
  line-height: 45px;
  color: #00adf1;
  font-family: 'Open Sans';
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box; }

.theme-button:active {
  box-shadow: inset 0px 5px 5px 0px rgba(77, 77, 77, 0.3); }

/* global classes */
.custom-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px; }

.interior-container {
  padding-top: 0px; }

#app-loading-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #f2f2f2;
  color: white;
  z-index: 9999; }

.app-loading-svg {
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.loading-gif {
  height: 75px;
  width: 72px;
  opacity: 0.7;
  margin: 50px auto 50px auto;
  display: block; }

.fetch-error {
  color: #ff401a;
  font-family: 'Open Sans';
  font-size: 22px;
  font-style: italic;
  margin: 50px 0;
  text-align: center; }
