/******************
**********************
Navbar
**********************
******************/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  background: white; }

#navbar a, #navbar span {
  line-height: 60px;
  color: black;
  position: relative;
  font-size: 18px; }

#navbar .custom-container > div {
  display: inline-block; }

#navbar .custom-container > div.right {
  float: right; }
