/******************
**********************
Navbar
**********************
******************/


#navbar {
	& { position:fixed;top:0;left:0;width:100%;height:60px;z-index:100;background:white; }
	a, span { line-height:60px;color:black;position:relative;font-size:18px; }
	.custom-container {
		> div {
			& { display:inline-block; }
			&.right { float:right; }
		}
	}
}