/* base styling */
body {
  margin: 0;
  padding: 0; }

h2, h3, h4, h5 {
  font-family: 'Open Sans';
  margin: 0 0 20px 0;
  font-weight: 400;
  letter-spacing: 1px;
  color: #8c8c8c; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4, h5 {
  font-weight: 700;
  font-size: 22px; }

h5 {
  font-size: 18px; }

p, span, a {
  margin: 0;
  font-family: 'Cabin';
  letter-spacing: 0.5px;
  font-weight: 400; }

a {
  text-decoration: none; }

input:not([type="submit"]) {
  height: 45px;
  font-family: 'Cabin';
  font-size: 14px;
  outline: none;
  border: none;
  padding-left: 15px;
  box-sizing: border-box; }

textarea {
  font-family: 'Cabin';
  font-size: 14px;
  outline: none;
  border: none;
  padding: 15px;
  box-sizing: border-box; }

/* custom buttons/icons */
.theme-button {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #00adf1;
  border-radius: 2px;
  background: transparent;
  line-height: 45px;
  color: #00adf1;
  font-family: 'Open Sans';
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box; }

.theme-button:active {
  box-shadow: inset 0px 5px 5px 0px rgba(77, 77, 77, 0.3); }

/* global classes */
.custom-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px; }

.interior-container {
  padding-top: 0px; }

#app-loading-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #f2f2f2;
  color: white;
  z-index: 9999; }

.app-loading-svg {
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.loading-gif {
  height: 75px;
  width: 72px;
  opacity: 0.7;
  margin: 50px auto 50px auto;
  display: block; }

.fetch-error {
  color: #ff401a;
  font-family: 'Open Sans';
  font-size: 22px;
  font-style: italic;
  margin: 50px 0;
  text-align: center; }

/******************
**********************
Navbar
**********************
******************/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  background: white; }

#navbar a, #navbar span {
  line-height: 60px;
  color: black;
  position: relative;
  font-size: 18px; }

#navbar .custom-container > div {
  display: inline-block; }

#navbar .custom-container > div.right {
  float: right; }

/******************
**********************
Hero
**********************
******************/
#home-hero {
  height: 600px;
  height: 100vh;
  background: url("../images/home-hero-bckg-2.jpg") no-repeat;
  background-position: 25% 50%;
  position: relative; }

#home-hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.3; }

#home-hero .hero-content {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  transform: translateY(-50%);
  z-index: 5;
  text-align: center; }

#home-hero .hero-content h2 {
  font-size: 48px;
  letter-spacing: 30px;
  margin-bottom: 30px;
  color: white;
  opacity: 1; }

#home-hero .hero-content p {
  margin-bottom: 30px;
  font-size: 18px;
  color: white;
  font-style: italic;
  opacity: 0.8;
  letter-spacing: 1px; }

#home-hero .hero-content .search-bar {
  position: relative; }

#home-hero .hero-content .search-bar .input-submit-combine {
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto; }

#home-hero .hero-content .search-bar .input-submit-combine input {
  float: left;
  box-sizing: border-box; }

#home-hero .hero-content .search-bar .input-submit-combine input[type="text"] {
  width: 70%;
  font-size: 16px;
  border-radius: 2.5px 0 0 2.5px; }

#home-hero .hero-content .search-bar .input-submit-combine input[type="submit"] {
  width: 30%;
  border-radius: 0 2.5px 2.5px 0;
  font-size: 16px;
  border-left: none;
  background: #00adf1;
  color: white; }

#home-hero .hero-content .search-bar .search-results {
  display: none;
  position: absolute;
  width: 100%;
  max-width: 1000px;
  max-height: 200px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  background: white;
  border-radius: 0 0 2.5px 2.5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto; }

#home-hero .hero-content .search-bar .search-results .result {
  height: 50px;
  line-height: 50px;
  color: black;
  text-align: left;
  display: block;
  padding: 0 15px; }

#home-hero .hero-content .search-bar .search-results .result:hover {
  background: #00adf1;
  color: white; }

#home-hero .hero-content .search-bar .search-results .result.error {
  color: #ff401a;
  font-style: italic; }

#home-hero .hero-content .search-bar .search-results .result.error:hover {
  background: transparent;
  color: #ff401a; }

/******************
**********************
Local Airports
**********************
******************/
#local-airports {
  padding: 30px 0;
  text-align: center; }

/******************
**********************
Trending
**********************
******************/
#home-trending {
  padding: 30px 0;
  text-align: center; }

/******************
**********************
Airport/Place Sections
**********************
******************/
#fixed-divider {
  position: fixed;
  top: 0;
  left: 50%;
  height: 100%;
  width: 1px;
  margin-left: -0.5px;
  background: #b3b3b3; }

#airports-section {
  width: 50%;
  float: left; }

#airports-section .place-type-divider {
  font-family: 'Open Sans';
  font-size: 16px;
  padding-left: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b3b3b3; }

#airports-section .button-container {
  padding: 30px; }

#airports-section .button-container .theme-button {
  width: 100%;
  text-align: center;
  background: #00adf1;
  color: white; }

#place-section {
  width: 50%;
  float: left; }

#place-section .interior-container {
  padding: 0; }

/******************
**********************
Airport Places
**********************
******************/
#place-sort {
  background: #f2f2f2;
  padding: 15px;
  margin-bottom: 25px;
  text-align: center; }

#place-sort h3 {
  color: black;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase; }

#place-sort .sort-options {
  overflow: hidden;
  border: 1px solid #d9d9d9;
  display: inline-block;
  border-radius: 2px; }

#place-sort .sort-options .option {
  overflow: hidden;
  position: relative;
  float: left;
  background: white;
  padding: 12px 20px 11px 20px;
  border-right: 1px solid #d9d9d9;
  cursor: pointer;
  box-sizing: border-box; }

#place-sort .sort-options .option span {
  font-family: 'Cabin';
  font-size: 14px;
  letter-spacing: 0.5px;
  position: relative;
  z-index: 5; }

#place-sort .sort-options .option:last-of-type {
  border: none; }

#place-sort .sort-options .option.active {
  background: rgba(0, 173, 241, 0.3);
  border: 1px solid #00adf1;
  color: #0080b3; }

.place-link {
  display: block;
  margin: 0;
  border-bottom: 1px solid #b3b3b3; }

.place-link .top {
  overflow: hidden;
  margin-bottom: 5px;
  padding: 25px 15px 0 15px; }

.place-link .top .pic {
  height: 120px;
  width: 150px;
  position: relative;
  float: left;
  border-top: 1px dashed black; }

.place-link .top .pic::after {
  content: '';
  position: absolute;
  right: -23px;
  top: -2px;
  height: 100%;
  width: 1px;
  border-left: 1px dashed black;
  transform: rotate(-20deg); }

.place-link .top .pic img {
  position: absolute;
  max-height: 90%;
  max-width: 90%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); }

.place-link .top .title-info {
  display: table-cell;
  padding-left: 50px; }

.place-link .top .title-info h2 {
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 0.5px;
  transform: scale(1, 1.1);
  margin-bottom: 10px;
  line-height: 35px; }

.place-link .top .title-info p {
  color: #333333;
  font-size: 16px;
  font-family: 'Open Sans';
  padding-left: 2px; }

.place-link .bottom {
  overflow: hidden;
  padding: 15px 0 25px 0; }

.place-link .bottom .info-block-container .info-block {
  float: left; }

.place-link .bottom .info-block-container .info-block span {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 0 5px 0px;
  margin: 0 0 5px 45px;
  display: block;
  border-bottom: 2px dashed black;
  color: black; }

.place-link .bottom .info-block-container .info-block div {
  padding: 5px 45px;
  background: #00adf1;
  font-family: 'Cabin';
  font-weight: 700;
  color: white;
  font-size: 36px;
  position: relative; }

.place-link .bottom .info-block-container .info-block div::after {
  content: '';
  position: absolute;
  right: -14px;
  top: -5px;
  height: 130%;
  width: 1px;
  border-left: 2px dashed black;
  transform: rotate(-20deg);
  z-index: 5; }

.place-link .bottom .info-block-container .info-block div.last-block::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  right: -99px;
  background: #00adf1;
  clip-path: polygon(0 0, 47% 0, 68% 100%, 0% 100%); }

/******************
**********************
Place Show Page
**********************
******************/
#place-content {
  position: fixed;
  top: 0px;
  right: 0;
  width: 50%;
  height: 100%;
  overflow-y: auto; }

#place-content .place-header {
  height: 250px;
  width: 100%;
  position: relative;
  background-size: cover !important; }

#place-content .place-header::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5); }

#place-content .place-header .content {
  position: relative;
  z-index: 15;
  padding: 15px; }

#place-content .place-header .content h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px; }

#place-content .place-header .content p {
  color: white; }

#place-content .place-header .bottom {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1; }

#place-content .place-header .bottom span {
  color: white;
  font-size: 32px; }

#place-content .place-header .bottom .price {
  color: #00adf1;
  position: relative;
  margin-left: 30px; }

#place-content .place-header .bottom .price::before {
  content: '';
  width: 2px;
  height: 20px;
  background: white;
  position: absolute;
  left: -15px;
  top: 50%;
  margin-top: -10px; }

#place-content .place-info {
  padding: 15px; }

#place-content .place-info .info-div {
  margin-bottom: 20px; }

#place-content .place-info .info-div span {
  font-family: 'Open Sans';
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
  font-size: 12px; }

#place-content .place-info .info-div p {
  font-family: 'Cabin';
  font-size: 16px; }

@media all and (max-width: 1200px) {
  #fixed-divider {
    display: none; }
  #airports-section {
    width: 100%;
    float: none; }
  #place-section {
    width: 100%;
    float: none; }
  #place-section .interior-container {
    padding-top: 60px; }
  #place-content {
    position: static;
    top: auto;
    right: auto;
    width: 100%;
    height: auto;
    overflow: visible; } }

@media all and (max-width: 550px) {
  .place-link .top .pic {
    height: 80px;
    width: 110px; }
  .place-link .top .pic::after {
    right: -16px; }
  .place-link .top .title-info {
    padding-left: 35px; }
  .place-link .top .title-info h2 {
    font-size: 22px;
    line-height: 24px; }
  .place-link .top .title-info p {
    font-size: 12px; }
  .place-link .bottom .info-block-container .info-block span {
    font-size: 12px;
    margin-left: 25px; }
  .place-link .bottom .info-block-container .info-block div {
    padding: 5px 25px;
    font-size: 22px; }
  .place-link .bottom .info-block-container .info-block div::after {
    right: -11px;
    top: -5px; }
  .place-link .bottom .info-block-container .info-block div.last-block::before {
    width: 80px;
    right: -79px;
    clip-path: polygon(0 0, 47% 0, 68% 100%, 0% 100%); } }

/******************
**********************
Form
**********************
******************/
.write-review-button {
  background: #f2f2f2;
  padding: 15px;
  text-align: center;
  cursor: pointer; }

.write-review-button h3 {
  margin: 0;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;
  font-size: 16px; }

#review-form {
  border-bottom: 1px solid #8c8c8c;
  height: 0;
  transition: height 200ms ease-out;
  overflow: hidden;
  box-sizing: border-box; }

#review-form .form-input {
  padding: 0 25px;
  margin-bottom: 20px; }

#review-form .form-input:first-of-type {
  margin-top: 20px; }

#review-form input:not([type="submit"]) {
  height: 35px;
  border: 1px solid #8c8c8c;
  width: 100%; }

#review-form input[type="number"] {
  width: 150px; }

#review-form textarea {
  min-height: 150px;
  border: 1px solid #8c8c8c;
  width: 100%;
  resize: vertical-only; }

#review-form input[type="text"]:not([type="submit"]), #review-form textarea {
  transition: all 150ms ease-out;
  box-sizing: border-box;
  letter-spacing: 0.75px; }

#review-form input[type="text"]:not([type="submit"]):focus, #review-form textarea:focus {
  border: 1px solid #00adf1; }

#review-form .theme-button {
  width: 100%; }
